
@{
    ViewBag.Title = "Move Orders - Index";
    Layout = "~/Views/Shared/_LayoutOperaciones.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2> Move Orders <small>Index</small></h2> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" href="@Url.Action("CargarMO")"> <i class="glyphicon glyphicon-plus-sign"></i> Agregar Registros</a>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="well" style="overflow: auto">
            <div class="col-sm-3">
                Codigo MO
                <div class="form-group">
                    <div class="input-group date">
                        <input id="txtOrder" name="txtOrder" class="form-control" autocomplete="off" />
                        <span class="input-group-addon">
                            <span class="fa fa-list-alt"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                Qty Lineas
                <div class="form-group">
                    <div class="input-group date">
                        <input id="txtQtySkus" name="txtQtySkus" class="form-control" autocomplete="off" disabled />
                        <span class="input-group-addon">
                            <span class="fa fa-cubes"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                Totales
                <div class="form-group">
                    <div class="input-group date">
                        <input id="txtTotales" name="txtTotales" class="form-control" autocomplete="off" disabled />
                        <span class="input-group-addon">
                            <span class="fa fa-database"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                Total MO Lines
                <div class="form-group">
                    <div class="input-group date">
                        <input id="txtTotalMOLines" name="txtTotalMOLines" class="form-control" autocomplete="off" disabled />
                        <span class="input-group-addon" onclick="VerDetalle()">
                            <span class="fa fa-eye"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <table id="tblMO" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Order</th>
                    <th>Status</th>
                    <th>Line</th>
                    <th>Item</th>
                    <th>Rev</th>
                    <th>SS</th>
                    <th>SL</th>
                    <th>DS</th>
                    <th>DL</th>
                    <th>Requester</th>
                    <th>Ref</th>
                    <th>UoM</th>
                    <th>Qty</th>
                    <th>Lot</th>
                    <th>EDate</th>
                    <th>QLot</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="MyModal" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg" id="mdialTamanio">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>

@section Styles {

    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
}

@section Scripts {

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

    <!-- Moment.js: -->
    <script src="~/vendors/moment/moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            table = $("#tblMO").DataTable({
                "order": [[0, "asc"]],
                "ordering": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pagingType": "simple_numbers",
                "dom": 'Blrtip', // Hides Default Search
                "processing": true,
                "serverSide": true,
                "orderMulti": false,
                "deferRender": true,
                "responsive": true,
                rowId: 'id',
                select: true,
                buttons: [                    
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>',
                        titleAttr: 'COPIAR',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>',
                        titleAttr: 'IMPRIMIR',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'EXCEL',
                        
                        exportOptions: {
                            columns: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
                        }
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        orientation: 'landscape',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }

                ],
                "ajax": {
                    "url": "/mo/ObtenerMO",
                    "type": "POST",
                    "datatype": "json"
                },
                "aoColumns": [
                    { "data": "Id", "autoWidth": true, "visible": false},
                    { "data": "Order", "autoWidth": true, },
                    { "data": "Status", "autoWidth": true, },
                    { "data": "Line", "autoWidth": true, },
                    { "data": "Item", "autoWidth": true, },
                    { "data": "Rev", "autoWidth": true, },
                    { "data": "SrcLocator", "autoWidth": true, },                    
                    { "data": "SrcUbicacion", "autoWidth": true, },                    
                    { "data": "DestLocator", "autoWidth": true, },                    
                    { "data": "DestUbicacion", "autoWidth": true, },                    
                    { "data": "Requester", "autoWidth": true, },
                    { "data": "Ref", "autoWidth": true, },                    
                    { "data": "UoM", "autoWidth": true, },
                    { "data": "Qty", "autoWidth": true, },
                    { "data": "Lote", "autoWidth": true, },
                    { "data": "FechaExpiracion", "autoWidth": true, },     
                    { "data": "QtyLote", "autoWidth": true, },                              
                ]
            });

            $('#txtOrder').on('keyup', function () {
                table.columns(0).search(this.value).draw();                
                $('title').html('Reporte: ' + this.value);
            });

            $('#txtOrder').on('change', function () {                
                Datos();                
            });
        });

        function Datos() {
            var numero = $('#txtOrder').val();
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: "/mo/CantidadesPorMO",
                data: { mo: numero },
                success: function (result) {
                    $('#txtQtySkus').val(result.qtysku);
                    $('#txtTotales').val(result.sumatotales);
                    $('#txtTotalMOLines').val(result.skumoline);
                },
                error: function () {
                    alert('Ha ocurrido un problema');
                }
            });
        }

        function VerDetalle() {
            var numero = $('#txtOrder').val();
            $.ajaxSetup({ cache: false });
            var EditUrl = "/mo/VistaDetalles?mo=" + numero;

            $("#MyModalContent").load(EditUrl, function () {
                $("#MyModal").modal({
                    //backdrop: 'static',
                    keyboard: false
                }, 'show');
            });     
            
            return false;     
        }
    </script>
}