
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomeDelivery.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2> Ordenes <small>Index</small></h2> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" href="@Url.Action("CargarOrdenes")"> <i class="glyphicon glyphicon-plus-sign"></i> Agregar Registros</a>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="well" style="overflow: auto">
            <div class="col-sm-3">
                Orden
                <div class="form-group">
                    <div class="input-group date">
                        <input id="txtOrder" name="txtOrder" class="form-control" autocomplete="off" />
                        <span class="input-group-addon">
                            <span class="fa fa-list-alt"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <table id="tblOrdenes" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Orden</th>
                    <th>Guia</th>
                    <th>Oracle ID</th>
                    <th>Paquetes</th>
                    <th>Status</th>
                    <th width="8%"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="example-console">N/A</div>

@section Styles {
    <!-- Datatables -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />

}

@section Scripts {
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>

    <!-- Moment.js: -->
    <script src="~/vendors/moment/moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var events = $('#example-console');

            table = $("#tblOrdenes").DataTable({
                "order": [[0, "desc"]],
                "ordering": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pagingType": "simple_numbers",
                "dom": 'Blrtip', // Hides Default Search
                "processing": true,
                "responsive": true,
                "serverSide": true,
                "orderMulti": false,
                "deferRender": true,
                rowId: 'Id',
                select: true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>',
                        titleAttr: 'COPIAR',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>',
                        titleAttr: 'IMPRIMIR',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'EXCEL',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        orientation: 'landscape',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ],
                keys: true,
                "ajax": {
                    "url": "/hd_ordeneshd/ObtenerOrdenes",
                    "type": "POST",
                    "datatype": "json"
                },
                "aoColumns": [
                    { "data": "Id", "autoWidth": true, "visible": false },
                    { "data": "NumeroOrden", "autoWidth": true },
                    { "data": "Guia", "autoWidth": true },
                    { "data": "OracleID", "autoWidth": true },
                    { "data": "Paquetes", "autoWidth": true },
                    { "data": "status", "autoWidth": true },
                    {
                        "data": null,
                        "targets": -1,
                        "render": function (data, type, full) {
                            return "<button onclick='Detalle(" + full['id'] + ")' class='btn btn-success btn-sm'><i class='fa fa-list'></i></button>" +
                                "<a href='/proveedores/Edit?id=" + full['id'] + "' class='btn btn-primary btn-sm'><i class='fa fa-edit'></i></a>";
                        },
                        "bSearchable": false,
                        "sortable": false,
                        "autoWidth": true,
                    }
                ]
            });                     

            table.on('key', function (e, datatable, key, cell, originalEvent)
            {
                if (key === 13)
                {              
                    clip(cell.data());
                    events.html('<div>Key press: ' + key + ' for cell <i>' + cell.data() + '</i></div>');
                }                                 
            });

            function clip(text) {
                var copyElement = document.createElement('input');
                copyElement.setAttribute('type', 'text');
                copyElement.setAttribute('value', text);
                copyElement = document.body.appendChild(copyElement);
                copyElement.select();
                document.execCommand('copy');
                copyElement.remove();
            }

            $('#txtOrder').on('keyup', function () {
                table.columns(0).search(this.value).draw();                
            });            
        });
    </script>
}